# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

#Python envoironment
venv/
__pycache__/

# Ignore compiled files
*.class
*.o
*.so
*.out
*.csv
*.zip
*.json